In [1]:
import pandas as pd

In [5]:
GDE_Gene_Symbol = pd.read_csv("../Data/GDE_Gene_Symbol.csv", index_col=0)

In [6]:
all_gene_names = GDE_Gene_Symbol.Gene_Symbol.to_list()
all_gene_names = [x for x in all_gene_names if pd.isnull(x) == False]
len(all_gene_names)

44580

In [7]:
with open('../Data/background_gene_names.txt', 'w') as f:
    for line in all_gene_names:
        f.write(line)
        f.write('\n')

In [8]:
up_regulate, down_regulate = [x for _, x in GDE_Gene_Symbol.groupby(GDE_Gene_Symbol['Log2FoldChange'] < 0)]
up_regulate.head()

   Gene_Symbol  Log2FoldChange        pvalue
23        SRP9        2.064513  2.746081e-73
29       ACTR2        3.469549  4.021927e-66
30        CFL1        3.175902  1.288561e-64
36        ARF4        3.234822  2.122065e-60
38        TPM3        2.380446  1.037584e-59

In [9]:
down_regulate.head()

  Gene_Symbol  Log2FoldChange         pvalue
0      FRG1BP       -3.895427  1.976371e-172
1  ANKRD20A3P       -3.142684  4.389347e-131
2         LEP       -5.703383  7.752915e-129
3      SH3GL3       -3.256370  1.131555e-126
4     CD300LG       -4.417230  1.166193e-125

In [10]:
up_gene_names = up_regulate.Gene_Symbol.to_list()
up_gene_names = [x for x in up_gene_names if pd.isnull(x) == False]
top_up_100_genes = up_gene_names[:100]

In [11]:
down_gene_names = down_regulate.Gene_Symbol.to_list()
down_gene_names = [x for x in down_gene_names if pd.isnull(x) == False]
top_down_100_genes = down_gene_names[:100]

In [12]:
with open('../Data/top_up_100_gene_names.txt', 'w') as f:
    for line in top_up_100_genes:
        f.write(line)
        f.write('\n')

with open('../Data/top_down_100_gene_names.txt', 'w') as f:
    for line in top_down_100_genes:
        f.write(line)
        f.write('\n')

In [27]:
up_regulate.pvalue = pd.to_numeric(up_regulate.pvalue)
significant_up_genes = up_regulate[up_regulate['pvalue'] < 10**-20]
significant_up_genes

     Gene_Symbol  Log2FoldChange        pvalue
23          SRP9        2.064513  2.746081e-73
29         ACTR2        3.469549  4.021927e-66
30          CFL1        3.175902  1.288561e-64
36          ARF4        3.234822  2.122065e-60
38          TPM3        2.380446  1.037584e-59
...          ...             ...           ...
1494         VCP        1.430555  9.164859e-21
1495        RPN1        1.439617  9.605559e-21
1496       EXOC5        1.517576  9.821237e-21
1497       BECN1        1.399777  9.876313e-21
1498      EBLN3P        1.572225  9.937718e-21

[1257 rows x 3 columns]

In [30]:
sig_up_gene_names = significant_up_genes.Gene_Symbol.to_list()
sig_up_gene_names = [x for x in sig_up_gene_names if pd.isnull(x) == False]
len(sig_up_gene_names)

1236

In [28]:
down_regulate.pvalue = pd.to_numeric(down_regulate.pvalue)
significant_down_genes = down_regulate[down_regulate['pvalue'] < 10**-20]
significant_down_genes

     Gene_Symbol  Log2FoldChange         pvalue
0         FRG1BP       -3.895427  1.976371e-172
1     ANKRD20A3P       -3.142684  4.389347e-131
2            LEP       -5.703383  7.752915e-129
3         SH3GL3       -3.256370  1.131555e-126
4        CD300LG       -4.417230  1.166193e-125
...          ...             ...            ...
1479       OR5H1       -1.373332   7.474781e-21
1484    MIR497HG       -0.980445   7.984739e-21
1487     HEPACAM       -1.973271   8.223020e-21
1491         TAT       -1.532222   8.409410e-21
1493         NaN       -1.148446   8.691493e-21

[242 rows x 3 columns]

In [31]:
sig_down_gene_names = significant_down_genes.Gene_Symbol.to_list()
sig_down_gene_names = [x for x in sig_down_gene_names if pd.isnull(x) == False]
len(sig_down_gene_names)

173

In [32]:
with open('../Data/sig_up_gene_names.txt', 'w') as f:
    for line in sig_up_gene_names:
        f.write(line)
        f.write('\n')

with open('../Data/sig_down_gene_names.txt', 'w') as f:
    for line in sig_down_gene_names:
        f.write(line)
        f.write('\n')